
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #000000;  
  }

  .header {
    background-color: white;
    padding: 16px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #0077b6;
  }
  
  .logo img {
    height: 75px;
    margin-right: 8px;
  }
  
  .nav a {
    margin-left: 24px;
    text-decoration: none;
    padding: 45px;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
  } 

  .nav a:hover {
    color: #0077b6;
  }
  
  .nav .login {
    font-weight: bold;
    color: #003b4f;
  }
  .nav .login img {
    height: 30px;
    margin-right: 5px;
    margin-bottom: -8px;
  }

  
  .fale_conosco {
    max-width: 600px;
    margin: auto;
    text-align: left;
  }
  
  .fale_conosco h2 {
    text-align: center;
    color: #146168;
  }
  
  .vermelho {
    color: #d9534f;
  }
  
  .azul {
    color: #104247;
  }
  
  .azul-claro {
   
    width: 100px;
    max-width: 100%;
    height: auto;
  }
  

  .preto{
    color: #000000 !important;
  }
  .rodape {
  
    padding: 30px 20px;
    font-family: Arial, sans-serif;
    color: #003b4f;
  }
  
  .rodape-conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .coluna h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .coluna ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .coluna ul li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .coluna ul li a {
    text-decoration: none;
    color: #003b4f;
  }
  
  .coluna ul li a:hover {
    text-decoration: underline;
  }
  
  .rodape-baixo {
    text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #666;
  }
  .logopequena{
    width: 10px;
    max-width: 100%;
    height: auto;
  }
  

  .form-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 30px;
  }
  
  .form-container input,
  .form-container textarea {
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    background-color: #f6f9fa;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    color: #376773;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  
  .form-container textarea {
    height: 120px;
    resize: none;
  }
  
  .form-container button {
    align-self: center;
    padding: 10px 24px;
    border: none;
    border-radius: 20px;
    background-color: #f6f9fa;
    color: #376773;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
    margin-top: 10px; 
  }
  